@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.one-line {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slick-slider button.slick-arrow {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 2;
}

.slick-slider button.slick-arrow:hover {
    background-color: #fff;
}


.slick-slider button.slick-arrow.slick-next::before {
    color: #777;
    content: "\276F";
    font-size: 30px;

}

.slick-slider button.slick-arrow.slick-prev::before {
    color: #777;
    content: "\276E";
    font-size: 30px;
}

.slick-arrow:hover::before {
    color: #f9ba48 !important;
}

.slick-slide {
    margin: 0 10px;
}

/* the parent */
.slick-list {
    margin: 0 -10px;
}

.slick-track {
    display: flex;
    align-items: center;
    /* gap: 0px;
    margin: 0px; */
}

.slick-slider button.slick-arrow.slick-next {
    right: 0;
}

.slick-slider button.slick-arrow.slick-prev {
    left: 0;
}